body {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.upper-div {
    color: rgb(1, 117, 250);
    display: flex;
    justify-content: space-between;
}

.inner-div1 {
    margin-left: 50px;
}

.inner-div1 p{
    display: inline-block;
    margin: 10px 10px;
}

.img-1 {
    display: inline-block;
}

.pa-1 {
    display: inline-block;
    margin-right: 35px;
}

.img-2 {
    display: inline-block;
}

.pa-2 {
    display: inline-block;
}

.img-div {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.img-div img {
    width: 500px;
}

.container {
    display: flex;
    justify-content: center;
    display: block;
}

.first-div {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
}

.p-1 {
    color: black;
    font-weight: bold;
    font-size: 25px;
    display: block;
}

.p-2 {
    font-weight: 300;
    color: rgb(167, 162, 162);
    text-align: center;
    margin-top: 0;
}

.button-div {
    display: flex;
    justify-content: center;
}

.get-button {
    background-color: rgb(1, 117, 250);
    color: white;
    padding: 20px 45px;
    border: none;
    border-radius: 25px;
    text-align: center;
    font-size: 16px;
}

.third-div {
    text-align: center;
}

.p-3 {
    color:  rgb(1, 117, 250);
    margin-bottom: 35px;
}

.p-4 {
    color:  rgb(1, 117, 250);
    margin-bottom: 120px;
}

.p-5 {
    color: rgb(167, 162, 162);
    font-size: 15px;
    font-weight: 600;
}

.p-6 {
    color: rgb(167, 162, 162);
    font-size: 15px;
    font-weight: 600;
}

.p-7 {
    color: rgb(1, 117, 250);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 70px;
}